/* Aplica estilos aos botões */
.button {
    -fx-padding: 10px; /* Espaçamento interno */
    -fx-background-radius: 15; /* Bordas arredondadas */
    -fx-border-radius: 15; /* Bordas arredondadas */
}
